
@font-face{
    src: url("../Fonts/Nunito-Light.ttf");
    font-family: nuno;
} 

@font-face{
    src: url("../Fonts/Poppins-Regular.ttf");
    font-family:Poppins;
} 

@font-face{
    src: url("../Fonts/NanumGothic-Bold.ttf");
    font-family:Gothic;
} 

@font-face{
    src: url("../Fonts/Spartan-VariableFont_wght.ttf");
    font-family:Spartan;
} 

@font-face{
    src: url("../Fonts/Poppins-SemiBold.ttf");
    font-family:PoppinsB;
} 

@font-face{
    src: url("../Fonts/RobotoSlab-VariableFont_wght.ttf");
    font-family:Robot;
} 

@font-face{
    src: url("../Fonts/PragatiNarrow-Regular.ttf");
    font-family:Pragati;
} 
